<form action="/stackoverflow/index.php?module=question&action=ask" method="post" class="form-horizontal">
    <fieldset>
        <legend>Ask Question</legend>
        <div class="control-group">
            <label>Title</label>
            <input class="span9" type="text" name="title" />
        </div>
        <div class="control-group">
             <label>Question</label>
            <textarea class="span9" name="content" rows="20"></textarea>
        </div>
        <div class="control-group">
             <label>Tags</label>
            <input class="span9" type="text" name="tags" />
        </div>
        <div class="control-group">
            <input type="submit" class="btn btn-primary btn-large" name="ask" value="ask"/>
        </div>
    </fieldset>
</form>